@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans');
@import 'card-shared';
@import 'utilityClasses';

.VideoCard {
	@extend %card;

	display: block;
	bottom: 10%;
	overflow: hidden;
	background-color: green;

	&.clicked {
		transition: transform 1s linear, box-shadow 0.01s .5s;
		transform: rotateY(180deg);
		box-shadow: -.5vh 1vh 2vh rgba(0,0,0, .4);
	}
}

.Video {
	grid-area: grid;
	position: absolute;
	top: 0;
	left: 0;

	transition: opacity .01s .49s;

	&.clicked {
		opacity: 0;
	}
}

.VideoText {
	font-size: 2.5vh;
	color: white;
	font-family: 'Open Sans', serif;

	transition: opacity .01s .49s;

	&.clicked {
		opacity: 0;
	}
}

.VideoTextFlipped {
	font-size: 2.5vh;
	color: white;
	font-family: 'Open Sans', serif;

	transform: rotateY(180deg);

	opacity: 0;
	transition: opacity .01s .5s;

	&.clicked {
		opacity: 1;
	}
}
